<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles.css"> <!-- Ton vrai fichier CSS ici -->
</head>
<body>

  <header>
    <a class="home-link" href="/">Jaelee70</a>

 <nav>
  <ul>
    {% for entry in collections.eleventyNavigation %}
      <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
    {% endfor %}
  </ul>
</nav>

  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p>© {{ "now" | date: "%Y" }} Jaelee70</p>
  </footer>

</body>
</html>
